/* COPYRIGHT 2025 SUPER STAY HOTEL */

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Amarante&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global Styles */
:root {
  --primary-color: #ff4000;
  --secondary-color: #fc5914;
  --accent-color: #f43f5e;
  --light-color: #f8fafc;
  --dark-color: #361f0d;
  --success-color: #10b981;
  --warning-color: #f59e0b;
  --error-color: #ff1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  line-height: 1.6;
  color: var(--dark-color);
  position: relative;
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

/* Header Styles */
header {
  border-bottom: 1px solid #c2c2c2a0;
  position: sticky;
  top: 0;
  z-index: 100;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f2f2f2;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 280px;
  height: auto;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 30px 0;
  max-width: 800px;
  margin: 0 auto;
}

.hero h2 {
  font-size: 40px;
  color: var(--dark-color);
  font-weight: bold;
}

.heading2 {
  margin-top: -15px;
  margin-bottom: 15px;
}

.hero p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #59626e;
}

.call-button {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  box-shadow: 0 8px 20px hsla(26, 91%, 60%, 0.2), 0 0 0 8px #f66a3b1a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin: 0 auto;
  flex-shrink: 0;
  margin-bottom: 15px;
  margin-top: 35px;
  position: relative;
}

.call-button i {
  font-size: 70px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.call-button:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 25px #f6803b4d, 0 0 0 12px #f6ce3b26;
}

.call-button:active {
  transform: scale(0.95);
  background-color: var(--secondary-color);
}

.button-label {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}

.notification {
  background-color: var(--success-color);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 6px 15px #10b9814d;
  position: fixed; /* changed from absolute */
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

.notification i {
  font-size: 28px;
  margin-right: 20px;
}

.notification p {
  color: #fff;
}

.notification.error {
  background-color: var(--error-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .call-button {
    width: 150px;
    height: 150px;
  }

  .call-button i {
    font-size: 55px;
  }
}

@media (max-width: 480px) {
  .call-button {
    width: 130px;
    height: 130px;
  }

  .call-button i {
    font-size: 50px;
  }

  .notification {
    min-width: 300px;
  }
}
